* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: #e4e5e2;
}
.apply-theme-color{
  background-color: #00182d;
  color: chocolate;
}

header {
  min-height: 65px;
  background-color: #00182b;
}
.navbar-nav a {
  color: #F8F0E3 !important;
  font-size: 1.2rem !important;
}
.navbar-nav a:after {
  display: block;
  content: "";
  border-bottom: solid 5px orange;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}
.greetings{
  color:orangered;
  font-size: larger;
  font-weight: 500;
}
.navbar-nav a:hover:after {
  transform: scale(1);
  transform-origin: 0% 50%;
}
.navbar-nav a:after {
  transform-origin: 0% 50%;
}
.bg-teal {
  background-color: teal;
}
.bg-black {
  background-color: black;
}
.text-red {
  color: red;
}
section#about {
  width: 100%;
}
.lay {
  width: 100%;
  background-color: #00182d;
  padding: 4rem 0;
 }
 #about{
   min-height: 100vh;
 }
.name {
  font-size: 2rem; 
  color: #00182d;
}
#avatar {
  width: 60%;
}
#me {
  max-width: 100%;
  border-radius: 50%;
}
.apply-radius{
  border-radius: 30px;
}
.apply-bottom-radius{
border-radius: 0 0 30px 30px;
}
.apply-top-radius{
  border-radius: 30px 30px 0 0;
}

#title {
  padding: 20px 0 0 20px;
  max-width: 100%;
}
.title{
  color: orangered;
  font-size: larger;
  font-weight: 500;  
}

.apply-content-theme{
background-color: whitesmoke;
font-size: 18px;
}
#skills, #my-services, #quality-assurance {  
  padding-top: 60px;
  font-size:18px;

}

.skills-container{
  display: flex;
  padding: 30px 0;
}

.about, #education-summary{
  width:400px;

}


.text-black{
  color:black;
}


.multi-projects img{
    width:100%;
}
.w-48{
  max-width:48%;
}
@media screen and (max-width:570px){
.w-48{
  max-width:100%;
}
}


.project-header{
  background-color: #00182d;
  color: #dddddd;
  text-align: center;
  font-size: 1.4rem; 
  border-radius:  50px 50px 0 0!important;
}

.pro-body{
  position: relative;
  padding-top: 10px; 
}
.pro-layover{
  position: absolute;
  top:100%;
  width:100%;
  height:0;
  background-color: rgba(0, 24, 43 , 0.9);
  transition: all .3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.pro-body:hover .pro-layover,
.pro-body:focus .pro-layover{
  top:0;
  height:100%;
}

.pro-btn{
  display:flex;
  justify-content: center;
  align-items: center;
}
.pro-btn a{
  width:150px;;
}
.pro-layover p{
  text-align: center;
  color: #cccccc;
  font-size: 18px;;
}

.pro-card-body{
  padding:0 0 10px 0 !important;
}
.override-card{
  border-radius: 50px 50px 10px 10px !important;
}
#certification{
  padding:30px 0;
}
.cert-bundle{
  padding:30px 0;
}
.cert-bundle li{
  font-size: 18px;;
}


.contact {
  min-height: 400px;
  width: 100%;
}
a {
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  .contact {
    flex-wrap: wrap;
  }
}

.soft-light{
  color:#bbbbbb;
}
button small{
color:#aaaaaa;
}
.m-auto{
  margin:auto;
}

.navbar-brand{
  color:#F8F0E3 !important;
}
.service-list li{
  font-size: 18px;
  line-height: 1.8;
  color: chocolate;
}
.text-orangered{
  color: orangered;
}

.text-chocolate{
  color: chocolate;
}
.text-yellow{
  color: yellow;
}
#skills img{
  border-radius: 50%;
  width: 110px;
}
#skills img:hover{
  animation: skill-anim 1s ease-in-out infinite;  
}
.bottom-bar{
  background-color: whitesmoke;
}
.text-whitesmoke{
  color: whitesmoke;
}

@keyframes skill-anim {
 0%{transform: scale(.6);} 
 50%{transform: scale(1.2);} 
 100%{transform: scale(.6);} 
}

#skill-container-div div{
  text-align: center;
  padding:5px;
}



@media screen and (max-width: 768px) {
  .about, #education-summary{
    flex-wrap: wrap;
    width: 100%;
  }
  #avatar {
    margin: auto;
  }
  #me{
    max-width:100%;
  }
  #skills img{
    width: 80px;
  }
}
@media screen and (max-width: 500px){
  #skills img{
    width: 50px;
  }
  #skill-container-div div{
    font-size: 14px;
  }
}
