* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  min-height: 65px;
  background-color: rgba(255, 255, 255, 0.9);
}
.navbar-nav a {
  color: #333 !important;
  font-size: 1.2rem !important;
}
.navbar-nav a:after {
  display: block;
  content: "";
  border-bottom: solid 5px red;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}
.navbar-nav a:hover:after {
  transform: scale(1);
  transform-origin: 0% 50%;
}
.navbar-nav a:after {
  transform-origin: 0% 50%;
}
.bg-teal {
  background-color: teal;
}
.bg-black {
  background-color: black;
}
.text-red {
  color: red;
}
section#about {
  background: url("/assets/images/global-cover.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
}
.lay {
  width: 100%;
  background-color: rgba(146, 239, 239, 0.8);
  padding: 4rem 0;
}
.name {
  font-size: 3rem;
  font-family: merienda;
  color:red;
}
#avatar {
  width: 30%;
}
#me {
  max-width: 100%;
  border-radius: 50%;
}
#title {
  padding: 20px 0 0 20px;
  width: 100%;
}
#workAndEdu {
  background-color: rgba(255, 255, 255, 0.9);
}
.work-type{
  font-size:24px;
}

@media screen and (max-width: 768px) {
  .about {
    flex-wrap: wrap;
  }
  #avatar {
    margin: auto;
  }
}
section#skills {
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0 0 0;
}
.skill-icons {
  border-radius: 50%;
  width: 50%;
  border: 1px solid gray;
  z-index: 100;
  transition: transform 0.5s ease-in-out;
}
.skill-names {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .skill-names {
    max-width: 150px;
  }
}

.skill-title {
  position: absolute;
  z-index: 100;
  font-size: 0;
  transition: font-size 0.5s ease-in-out, z-index 0.5s ease-in-out;
  max-height: 100%;
  width: 180px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border-radius: 50%;
  padding: 5px;
  z-index: -11;
  text-align: center;
}
.skill-names:hover .skill-icons,
.skill-names:focus .skill-icons {
  transform: scale(1.8);
  opacity: 1;
}
.skill-names:hover .skill-title,
.skill-names:focus .skill-title {
  font-size: 2rem;
  z-index: 11111;
}
.skill-names:hover .apis-title,
.skill-names:focus .apis-title {
  font-size: 1rem !important;
}

#projects{
  background-color:#9DD8FF;
}

.multi-projects img{
    width:100%;
}
.w-48{
  max-width:48%;
}
@media screen and (max-width:425px){
.w-48{
  max-width:100%;
}
}

.project-header{
  background-color: #900C3F;
  color: #dddddd;
  text-align: center;
  font-size: 1.5rem;
}





#contact-me {
  background: url("/assets/images/global-cover.jpg") no-repeat fixed center;
  background-size: cover;
  width: 100%;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  width: 100%;
  text-align: left;  
  color: #bbbbbb;
  font-size: 1.2rem;
  font-family: sans;
  letter-spacing: 1px;
}
a {
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  .contact {
    flex-wrap: wrap;
  }
}

.contactLayover{
  width: 100%;
  background-color: rgba(0, 0, 0, .95);
  padding: 4rem 0;
}
.soft-light{
  color:#bbbbbb;
}
button small{
color:#aaaaaa;
}
.m-auto{
  margin:auto;
}
